name: Tests

on:
  push:
    branches:
    - master
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Tests (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        php: [ '8.2', '8.1', '8.0', '7.4', '7.3' ]
    steps:
    - name: Checkout
      uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

    - name: Setup PHP
      uses: shivammathur/setup-php@1a18b2267f80291a81ca1d33e7c851fe09e7dfc4
      with:
        php-version: ${{ matrix.php }}
        coverage: none
        tools: composer

    - name: Validate composer.json
      run: composer validate --no-check-all --no-interaction --strict

    - name: Install PHP dependencies
      uses: ramsey/composer-install@83af392bf5f031813d25e6fe4cd626cdba9a2df6
      with:
        composer-options: '--prefer-dist --no-progress --no-interaction'

    - name: Generate stubs
      run: bash -x ./generate.sh

    - name: Check stubs syntax
      run: php -l wordpress-tests-stubs.php

    - name: Check if stubs changed compared to repository
      run: git diff --exit-code

    - name: Execute stubs
      run: php -r 'require "vendor/autoload.php"; require "extended-classes.php"; require "wordpress-tests-stubs.php";'
